.u-margin-top-small
{
    margin-top: 2rem !important;
}
.u-margin-top-medium
{
    margin-top: 4rem !important;
}
.u-margin-top-big
{
    margin-top: 10rem !important;
}
.u-margin-left-small
{
    margin-left: 2rem !important;
}
.u-margin-bottom-medium
{
    margin-bottom: 4rem !important;
}

.u-center
{
    text-align: center!important;
}
.u-color-green
{
    color: $color-green!important;
}
.u-color-white
{
    color: $color-white!important;
}
.u-margin-left-medium
{
    margin-left: 4rem!important;
}